<Project>
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <PublishProvider>FileSystem</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <Configuration>Release</Configuration>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <DeleteExistingFiles>false</DeleteExistingFiles>
    <PublishDir>$(MSBuildProjectDirectory)\..\..\artifacts\publish\</PublishDir>
    <PublishUrl>$(MSBuildProjectDirectory)\..\..\artifacts\publish\</PublishUrl>
  </PropertyGroup>
</Project>
